In [1]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from keras.models import Sequential
from sklearn.neural_network import MLPClassifier
from keras.layers import Dense, Dropout, Activation, Flatten
from sklearn.metrics import plot_confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegressionCV
from sklearn.ensemble import RandomForestClassifier
from keras.utils import np_utils
import seaborn as sn
import matplotlib.pyplot as plt
import matplotlib
import pandas as pd
import numpy as np

df = pd.DataFrame()

In [2]:
df=pd.read_csv('./dataset/Balanced_dataset.csv')

In [3]:
df.groupby('outcome').size()
df.head()

,age,sex,city,province,country,lives_in_Wuhan,travel_history_location,chronic_disease_binary,chronic_disease,chronic_disease_Hypertension,...,shortness of breath,somnolence,sore throat,sputum,septic shock,Heart attack,cold,cardiac disease,hypoxia,outcome
0,65.0,0,city,Washington,United States,NaN,NaN,0,NaN,0,...,0,0,0,0,0,0,0,0,0,recovered
1,54.0,0,Taguig,Metro Manila,Philippines,NaN,NaN,0,NaN,0,...,0,0,0,0,0,0,0,0,0,recovered
2,40.0,0,Pasay,Metro Manila,Philippines,NaN,NaN,0,NaN,0,...,0,0,0,0,0,0,0,0,0,recovered
3,28.0,0,Muntinlupa,Metro Manila,Philippines,NaN,NaN,0,NaN,0,...,0,0,0,0,0,0,0,0,0,recovered
4,30.0,0,Cainta,Rizal,Philippines,NaN,NaN,0,NaN,0,...,0,0,0,0,0,0,0,0,0,recovered

In [4]:
df=df.replace('died',0)
df=df.replace('recovered',1)
df['chronic_disease'].fillna(0,inplace = True)
df1=df
df2=df

In [5]:
df.head()

,age,sex,city,province,country,lives_in_Wuhan,travel_history_location,chronic_disease_binary,chronic_disease,chronic_disease_Hypertension,...,shortness of breath,somnolence,sore throat,sputum,septic shock,Heart attack,cold,cardiac disease,hypoxia,outcome
0,65.0,0,city,Washington,United States,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,54.0,0,Taguig,Metro Manila,Philippines,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,40.0,0,Pasay,Metro Manila,Philippines,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,28.0,0,Muntinlupa,Metro Manila,Philippines,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,30.0,0,Cainta,Rizal,Philippines,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [6]:
df.columns

Index(['age', 'sex', 'city', 'province', 'country', 'lives_in_Wuhan',
       'travel_history_location', 'chronic_disease_binary', 'chronic_disease',
       'chronic_disease_Hypertension', 'chronic_disease_Diabetes',
       'chronic_disease_kidney', 'chronic_disease_COPD',
       'chronic_disease_heart', 'chronic_disease_asthma',
       'chronic_disease_cardiac', 'chronic_disease_prostate',
       'chronic_disease_cancer', 'chronic_disease_TB',
       'chronic_disease_Hepatitis', 'chronic_disease_HIV',
       'chronic_disease_cereberal', 'chronic_disease_Parkinson',
       'chronic_disease_bronchitis', 'chronic_disease_hypothyroidism',
       'chronic_disease_dyslipidemia', 'anorexia', 'chest pain', 'chills',
       'conjunctivitis', 'cough', 'diarrhea', 'dizziness', 'dyspnea', 'emesis',
       'expectoration', 'eye irritation', 'fatigue', 'fever', 'gasp',
       'headache', 'kidney failure', 'lesions on chest radiographs',
       'hypertension', 'Myalgia', 'obnubilation', 'pneumonia', 'myelofibrosis',
       'respiratory distress', 'rhinorrhea', 'shortness of breath',
       'somnolence', 'sore throat', 'sputum', 'septic shock', 'Heart attack',
       'cold', 'cardiac disease', 'hypoxia', 'outcome'],
      dtype='object')

In [7]:
num_feat=['age', 'sex', 'anorexia', 'chronic_disease_binary','chronic_disease_Hypertension', 
       'chronic_disease_Diabetes','chronic_disease_kidney', 'chronic_disease_COPD',
       'chronic_disease_heart', 'chronic_disease_asthma','chronic_disease_cardiac', 
       'chronic_disease_prostate','chronic_disease_cancer', 'chronic_disease_TB',
       'chronic_disease_Hepatitis', 'chronic_disease_HIV','chronic_disease_cereberal', 
       'chronic_disease_Parkinson','chronic_disease_bronchitis', 'chronic_disease_hypothyroidism',
       'chronic_disease_dyslipidemia', 'anorexia', 'chest pain',
       'chills', 'conjunctivitis', 'cough', 'diarrhea', 'dizziness', 'dyspnea',
       'emesis', 'expectoration', 'eye irritation', 'fatigue', 'fever', 'gasp',
       'headache', 'kidney failure', 'lesions on chest radiographs',
       'hypertension', 'Myalgia', 'obnubilation', 'pneumonia', 'myelofibrosis',
       'respiratory distress', 'rhinorrhea', 'shortness of breath',
       'somnolence', 'sore throat', 'sputum', 'septic shock', 'Heart attack',
       'cold', 'cardiac disease', 'hypoxia']

In [8]:
numX= df[num_feat]

null_columns=numX.columns[numX.isnull().any()]
numX[null_columns].isnull().sum()

Series([], dtype: float64)

In [9]:
numX.head()

,age,sex,anorexia,chronic_disease_binary,chronic_disease_Hypertension,chronic_disease_Diabetes,chronic_disease_kidney,chronic_disease_COPD,chronic_disease_heart,chronic_disease_asthma,...,rhinorrhea,shortness of breath,somnolence,sore throat,sputum,septic shock,Heart attack,cold,cardiac disease,hypoxia
0,65.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,54.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,40.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,28.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,30.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
y= df['outcome']
y

0        1
1        1
2        1
3        1
4        1
        ..
12015    0
12016    0
12017    0
12018    0
12019    0
Name: outcome, Length: 12020, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(numX, y, test_size=0.3, random_state=2)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(8414, 54)
(8414,)
(3606, 54)
(3606,)

In [12]:
my_decisiontree=DecisionTreeClassifier()
my_logreg=LogisticRegression(max_iter=3000)
knn = KNeighborsClassifier(n_neighbors=5) 
svclassifier = SVC(kernel='linear', probability=True)
rftree = RandomForestClassifier(n_estimators = 19, bootstrap = True, random_state=2)
my_ANN = MLPClassifier(activation= 'logistic', alpha= 0.01, hidden_layer_sizes= [10,3],
                  learning_rate='constant', random_state= 9, solver= 'adam',max_iter=2000,)

In [14]:
#train
my_decisiontree.fit(X_train, y_train)
my_logreg.fit(X_train, y_train)
knn.fit(X_train, y_train) 
svclassifier.fit(X_train, y_train)
rftree.fit(X_train, y_train)
my_ANN.fit(X_train, y_train)

MLPClassifier(activation='logistic', alpha=0.01, hidden_layer_sizes=[10, 3],
              max_iter=2000, random_state=9)

In [15]:
#test
y_predict_KNN = knn.predict(X_test)
y_predict_logreg = my_logreg.predict(X_test)
y_predict_dt = my_decisiontree.predict(X_test)
y_pred_svm = svclassifier.predict(X_test)
y_pred_RF = rftree.predict(X_test)
y_pred_ANN = my_ANN.predict(X_test)

In [16]:
from sklearn.metrics import accuracy_score

#accuracy
accuracy={}
accuracy ['KNN Accuracy']=accuracy_score(y_test, y_predict_KNN)
accuracy ['Logistic Regression Accuracy']=accuracy_score(y_test, y_predict_logreg)
accuracy ['Decision Tree Accuracy']=accuracy_score(y_test, y_predict_dt)
accuracy ['SVM Accuracy']=accuracy_score(y_test, y_pred_svm)
accuracy ['Random Forest Accuracy']=accuracy_score(y_test, y_pred_RF)
accuracy ['Neural Network Accuracy']=accuracy_score(y_test, y_pred_ANN)

accuracy

{'KNN Accuracy': 0.8616195230171936,
 'Logistic Regression Accuracy': 0.5460343871325568,
 'Decision Tree Accuracy': 0.8627287853577371,
 'SVM Accuracy': 0.5668330560177482,
 'Random Forest Accuracy': 0.8641153632834165,
 'Neural Network Accuracy': 0.8042151968940654}

In [17]:
features=['age', 'sex', 'city', 'province', 'country',
       'travel_history_location', 'chronic_disease_binary', 'chronic_disease_Hypertension', 
       'chronic_disease_Diabetes','chronic_disease_kidney', 'chronic_disease_COPD',
       'chronic_disease_heart', 'chronic_disease_asthma','chronic_disease_cardiac', 
       'chronic_disease_prostate','chronic_disease_cancer', 'chronic_disease_TB',
       'chronic_disease_Hepatitis', 'chronic_disease_HIV','chronic_disease_cereberal', 
       'chronic_disease_Parkinson','chronic_disease_bronchitis', 'chronic_disease_hypothyroidism',
       'chronic_disease_dyslipidemia', 'anorexia', 'chest pain',
       'chills', 'conjunctivitis', 'cough', 'diarrhea', 'dizziness', 'dyspnea',
       'emesis', 'expectoration', 'eye irritation', 'fatigue', 'fever', 'gasp',
       'headache', 'kidney failure', 'lesions on chest radiographs',
       'hypertension', 'Myalgia', 'obnubilation', 'pneumonia', 'myelofibrosis',
       'respiratory distress', 'rhinorrhea', 'shortness of breath',
       'somnolence', 'sore throat', 'sputum', 'septic shock', 'Heart attack',
       'cold', 'cardiac disease', 'hypoxia']

In [18]:
X=df1[features]
y=df1['outcome']

In [19]:
print(X.shape)
print(y.shape)

(12020, 57)
(12020,)

In [20]:
X=pd.get_dummies(X)
X.head()

,age,sex,chronic_disease_binary,chronic_disease_Hypertension,chronic_disease_Diabetes,chronic_disease_kidney,chronic_disease_COPD,chronic_disease_heart,chronic_disease_asthma,chronic_disease_cardiac,...,"travel_history_location_United States; London, England, United Kingdom",travel_history_location_United States; South Korea,"travel_history_location_Weinan City, Shaanxi",travel_history_location_Wuhan,"travel_history_location_Wuhan City, Hubei","travel_history_location_Wuhan City, Hubei, China","travel_history_location_Wuhan City, Hubei; Hong Kong, China","travel_history_location_Xi'an City, Shaanxi","travel_history_location_Xiogan City, Hubei; Xi'an City, Shaanxi",travel_history_location_dubai
0,65.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,54.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,40.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,28.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,30.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
print(X.shape)
print(y.shape)

(12020, 1262)
(12020,)

In [22]:
null_columns=X.columns[X.isnull().any()]
X[null_columns].isnull().sum()

Series([], dtype: float64)

In [23]:
X_train=X
y_train=y

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2)

my_decisiontree=DecisionTreeClassifier(random_state=2)
my_logreg=LogisticRegressionCV(Cs=10,max_iter=2000,random_state=2)
knn = KNeighborsClassifier(n_neighbors=3) 
svclassifier = SVC(kernel='linear', probability=True)
rftree = RandomForestClassifier(n_estimators = 19, bootstrap = True, random_state=3)
my_ANN = MLPClassifier(activation= 'logistic', alpha= 0.01, hidden_layer_sizes= [40,30], 
                       learning_rate='constant', random_state= 9, solver= 'adam',max_iter=2000,)

In [ ]:
# train 
my_decisiontree.fit(X_train, y_train)
my_logreg.fit(X_train, y_train)
knn.fit(X_train, y_train) 
svclassifier.fit(X_train, y_train)
rftree.fit(X_train, y_train)
my_ANN.fit(X_train, y_train)

In [25]:
# test
y_predict_KNN = knn.predict(X_test)
y_predict_logreg = my_logreg.predict(X_test)
y_predict_dt = my_decisiontree.predict(X_test)
y_pred_svm = svclassifier.predict(X_test)
y_pred_RF = rftree.predict(X_test)
y_pred_ANN = my_ANN.predict(X_test)

In [26]:
from sklearn.metrics import accuracy_score

#accuracy
accuracy={}
accuracy ['KNN Accuracy']=accuracy_score(y_test, y_predict_KNN)
accuracy ['Logistic Regression Accuracy']=accuracy_score(y_test, y_predict_logreg)
accuracy ['Decision Tree Accuracy']=accuracy_score(y_test, y_predict_dt)
accuracy ['SVM Accuracy']=accuracy_score(y_test, y_pred_svm)
accuracy ['Random Forest Accuracy']=accuracy_score(y_test, y_pred_RF)
accuracy ['Neural Network Accuracy']=accuracy_score(y_test, y_pred_ANN)

accuracy

{'KNN Accuracy': 0.9015529672767609,
 'Logistic Regression Accuracy': 0.891846921797005,
 'Decision Tree Accuracy': 0.8813089295618414,
 'SVM Accuracy': 0.8904603438713256,
 'Random Forest Accuracy': 0.8948973932334997,
 'Neural Network Accuracy': 0.8935108153078203}

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2)


my_decisiontree=DecisionTreeClassifier(random_state=2)
my_logreg=LogisticRegressionCV(Cs=10,max_iter=2000,random_state=2)
knn = KNeighborsClassifier(n_neighbors=3) 
svclassifier = SVC(kernel='linear', probability=True)
rftree = RandomForestClassifier(n_estimators = 19, bootstrap = True, random_state=3)
my_ANN = MLPClassifier( alpha= 0.01, hidden_layer_sizes= [40,30], random_state= 9, max_iter=1000)

MLPClassifier(alpha=0.01, hidden_layer_sizes=[40, 30], max_iter=1000,
              random_state=9)

In [ ]:
# train 
my_decisiontree.fit(X_train, y_train)
my_logreg.fit(X_train, y_train)
knn.fit(X_train, y_train) 
svclassifier.fit(X_train, y_train)
rftree.fit(X_train, y_train)
my_ANN.fit(X_train, y_train)

In [28]:
# test
y_predict_KNN = knn.predict(X_test)
y_predict_logreg = my_logreg.predict(X_test)
y_predict_dt = my_decisiontree.predict(X_test)
y_pred_svm = svclassifier.predict(X_test)
y_pred_RF = rftree.predict(X_test)
y_pred_ANN = my_ANN.predict(X_test)

In [29]:
from sklearn.metrics import accuracy_score

#accuracy
accuracy={}
accuracy ['KNN Accuracy']=accuracy_score(y_test, y_predict_KNN)
accuracy ['Logistic Regression Accuracy']=accuracy_score(y_test, y_predict_logreg)
accuracy ['Decision Tree Accuracy']=accuracy_score(y_test, y_predict_dt)
accuracy ['SVM Accuracy']=accuracy_score(y_test, y_pred_svm)
accuracy ['Random Forest Accuracy']=accuracy_score(y_test, y_pred_RF)
accuracy ['Neural Network Accuracy']=accuracy_score(y_test, y_pred_ANN)

accuracy

{'Neural Network Accuracy': 0.9015529672767609}